<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <ul>
        <li>
            <a href="/authorization_server">服务端授权</a>
        </li>
        <li>
            <a href="/authorization_client">客服端授权</a>
        </li>
        <li>
            <a href="/wx_share">微信分享</a>
        </li>
        <li>
            <a href="/wx_other">微信jdk其他接口使用</a>
        </li>

    </ul>
</body>

</html>