<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <ul>
        
            微信其他实用功能
            <li>
                <img src="" alt="" id="preImg" width="300">
                <button id="getImage">获取图片</button>
            </li>           
            <li>
                <p>经纬度：<span id="latitude"></span></p>
                <p>速度：<span id="speed"></span></p>
                <p>精度：<span id="accuracy"></span></p>
                <button id="getLocation">获取地理信息</button>
            </li>
            <li>
                <p id="scanQRCodeContent"></p>
                <button id="scanQRCode">扫一扫</button>
            </li>
    </ul>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src=" /javascripts/jquery.js "></script>
    <script>
        // 微信其他的操作
        let wxOther=()=>{
            $("#getImage").click(()=>{
                wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                console.log(res)
                //  alert(localIds)

                // 预览
                 wx.previewImage({
                    current: localIds[0], // 当前显示图片的http链接
                    urls: localIds // 需要预览的图片http链接列表
                    });

                // 上传服务器
                wx.uploadImage({
                localId: localIds, // 需要上传的图片的本地ID，由chooseImage接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    var serverId = res.serverId; // 返回图片的服务器端ID
                    alert(serverId)
                }
                });
                wx.getLocalImgData({
                localId:localIds[0], // 图片的localID
                success: function (res) {
                    var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                        $("#preImg").attr("src","data:image/png;base64,"+localData)
                    }
                });

                }
                });
            })
           
        }

        let getLocation=()=>{
            $("#getLocation").click(()=>{
                wx.getLocation({
                    type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                    success: function (res) {
                            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                            var speed = res.speed; // 速度，以米/每秒计
                            var accuracy = res.accuracy; // 位置精度
                            $("#accuracy").html(accuracy)
                            $("#latitude").html(latitude+"-"+longitude)
                            $("#speed").html(speed)

                               wx.openLocation({
                                    latitude: latitude, // 纬度，浮点数，范围为90 ~ -90
                                    longitude: longitude, // 经度，浮点数，范围为180 ~ -180。
                                    name: '上地', // 位置名
                                    address: '上地街道', // 地址详情说明
                                    scale: 1, // 地图缩放级别,整形值,范围从1~28。默认为最大
                                    infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
                                });
                        }   
                    });
                 
            })
        }
        // 扫一扫
        let scanQRCodeFN=()=>{
            
            $("#scanQRCode").click(()=>{
                wx.scanQRCode({
                    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                    success: function (res) {
                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        $("#scanQRCodeContent").html(result)
                    }
                });
            })
            
        }
        // 拿到数据后进行微信的信息配置
        let wxConfig = (data) => {
            wx.config({
                debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: 'wx5fb15a98caceeccd', // 必填，公众号的唯一标识
                timestamp: data.timestamp, // 必填，生成签名的时间戳
                nonceStr: data.nonceStr, // 必填，生成签名的随机串
                signature: data.signature, // 必填，签名
                jsApiList: [
                        'chooseImage',
                        "getLocation",
                        "openLocation",
                        "scanQRCode"
                    ] // 必填，需要使用的JS接口列表
            });

        }
        let wxReady=()=>{
            wx.ready(function(){
                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                wx.checkJsApi({
                    jsApiList: [
                        'chooseImage',
                      "getLocation",
                      "openLocation",
                      "scanQRCode"
                    ], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                    success: function(res) {
                        console.log(res)
                    // 以键值对的形式返回，可用的api值true，不可用为false
                    // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                    }
                });

                    wxOther()
                    getLocation()
                    scanQRCodeFN()
            });
        }
        $(document).ready(() => {

            $.ajax({
                url: "/api_wxJdk_config",
                type: "post",
                data: {
                    url: window.location.href.split("#")[0]
                }
            }).then((data) => {
                console.log(data)
                if (data.code == "20001") {
                    wxConfig(data.data)
                    wxReady()
                }

            })
        })
    </script>
</body>

</html>